%body
  %header
  .contents
    .left-content
      = render partial: "edit"
      = render partial: "group"
    .right-content
      .right-top
        .right-top__name
          = @group.name
        .right-top__edit
          = link_to edit_group_path(@group) do
            .right-top__edit--name
              Edit
        .right-top__member
          Member :
          - @group.users.each do |user|
            = user.name
      .right-center
        = render partial: 'messages', collection: @messages
      .right-bottom
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: "      right-bottom__text hidden", placeholder: "type a message", id: "new_message"
          = f.label :image, class: "right-bottom__text--icon" do
            = fa_icon 'image', class: "icon"
            = f.file_field :image, class: "hidden"
          = f.submit "Send", class: "right-bottom__send", id: "disable"

/ 10行目、massages_controller.rbにて、group_idを取得した変数@groupに代入し、set_groupをアクション前に定義し、変数@groupをindexや他のアクションでも利用できるようにし、今回はgroup_idを利用してgroupのテーブルからnameを取得している。

/ 17行目、group_idを用いて中間テーブルのgroup_usersを通してusersの配列を取得している。

/ 20行目、特定のビューを複数回使い回す場合、eachメソッドを用いるよりも、部分テンプレートをrenderした方が動作が高速になる。Chat-spaceでは大量のメッセージをやり取りすることが予想されるため、部分テンプレートを用いて実装を行う。
