%body
  %header
    .heading
      チャットグループが作成されました。
  .contents
    .left-content
      = render partial: "edit"
      = render partial: "group"
    .right-content
      .right-top
        = link_to new_group_path do
          .right-top__name
            d
          .right-top__edit
            Edit
          .right-top__member
            Member : current_user.name
      = render partial: "chats"
      .right-bottom
        .right-bottom__text
          .right-bottom__text--message
            type a message
          .right-bottom__text--icon
            = fa_icon'image'
        .right-bottom__send
          Send
